{% extends "mybase.html" %} <!--this means that you are extending the base tempate -->
{% block queriesid %} <!-- this is the name of the block below -->
       <div class="row" style="height:100vh;">
               <div class="col-md-4 col-md-offset-4" style="margin-top:10vh;">
                       <form action="queries" method="POST">
<!-- action is the html template that will return the result to this input query -->
                               <div class="form-group text-center">


                                       <label style="font-weight:300; font-size:20px;">Pick a query:</label>
                                       <input type="text" class="form-control" id="querynum" name="querynum" placeholder="1">

                                       <label style="font-weight:300; font-size:15px;">1. List measurement information about a given observation group: </label>
                                       <input type="text" class="form-control" id="observationgroup1" name="observationgroup1" placeholder="1">
                                       <button type="submit" value="Send" name="queriesid-container" class="btn btn-default id-submit">Submit</button>

                                       <label style="font-weight:300; font-size:15px;">2. List the signals for a given an observation group and observation number (1-6):  </label>
                                       <input type="text" class="form-control" id="observationgroup2" name="observationgroup2" placeholder="1">
                                       <input type="text" class="form-control" id="observationorder2" name="observationorder2" placeholder="1">
                                       <button type="submit" value="Send" name="hitquery-container" class="btn btn-default id-submit">Submit</button>
                                 
                                       <br /><br />
                                    
                                       <br /><br />

                                      
                               </div>
                       </form>
               </div>
       </div>

{% endblock %}
