{% extends "mybase.html" %} <!--this means that you are extending the base tempate -->
{% block queriesid %} <!-- this is the name of the block below -->
       <div class="row" style="height:100vh;">
               <div class="col-md-4 col-md-offset-4" style="margin-top:10vh;">
                       <form action="queries" method="POST">
<!-- action is the html template that will return the result to this input query -->
                               <div class="form-group text-center">


                                       <label style="font-weight:300; font-size:20px;">Pick a query:</label>
                                       <input type="text" class="form-control" id="querynum" name="querynum" placeholder="1">

                                       <label style="font-weight:300; font-size:15px;">1. List all information about a given observation group: </label>
                                       <input type="text" class="form-control" id="observationgroup1" name="observationgroup1" placeholder="1">
                                       <button type="submit" value="Send" name="queriesid-container" class="btn btn-default id-submit">Submit</button>

                                       <label style="font-weight:300; font-size:15px;">2. List the hits given an observation group and observation number (1-6):  </label>
                                       <input type="text" class="form-control" id="observationgroup2" name="observationgroup2" placeholder="1">
                                       <input type="text" class="form-control" id="observationorder2" name="observationorder2" placeholder="1">
                                       <button type="submit" value="Send" name="hitquery-container" class="btn btn-default id-submit">Submit</button>

                                       <label style="font-weight:300; font-size:15px;">3. List observation group information for a given source: </label>
                                       <input type="text" class="form-control" id="source1" name="source1" placeholder="Sirius">
                                       <button type="submit" value="Send" name="queriesid-container" class="btn btn-default id-submit">Submit</button>
                                        
                                       <label style="font-weight:300; font-size:15px;">4. List observation groups with at least one group-hit: </label>
                                       <button type="submit" value="Send" name="queriesid-container" class="btn btn-default id-submit">Submit</button>
                           
                         

                                       <label style="font-weight:300; font-size:20px;">Complex query:</label>
                                       <label style="font-weight:300; font-size:15px;">The ON-OFF-ON-OFF-ON-OFF observation set id: </label> 
                                       <input type="text" class="form-control" id="emailid" name="emailid" placeholder="1">
                                       <label style="font-weight:300; font-size:15px;">The SNR required for ON hits and the SNR required for OFF hits: </label>
                                       <input type="text" class="form-control" id="emailid" name="emailid" placeholder="25">
                                       <input type="text" class="form-control" id="emailid" name="emailid" placeholder="20">
                                       <label style="font-weight:300; font-size:15px;">The +/- range for hit matching (in Hz): </label> 
                                       <input type="text" class="form-control" id="emailid" name="emailid" placeholder="600">
                                       <label style="font-weight:300; font-size:15px;">The required absolute doppler drift for each hit:  </label>
                                       <input type="text" class="form-control" id="emailid" name="emailid" placeholder="0.000001">
                                       <br /><br />
                                    
                                       <select class="form-control" name="date">
                                               <option>2015-09-01</option>
                                               <option>2015-09-02</option>
                                               <option>2015-09-03</option>
                                       </select>
                                       <br /><br />

                                       <button type="submit" value="Send" name="emailid-container" class="btn btn-default id-submit">Submit</button>
                               </div>
                       </form>
               </div>
       </div>

{% endblock %}
