{% extends "mybase.html" %}
{% block queriesop %}
<div class="container">
     <div class="starter-template">
       <div class="row" style="height:100vh;">
               <div class="col-md-10 col-md-offset-1">
                   <table class="table">
                     <thead>
                       <tr>
                         <th>observationgroup</th>
                         <th>observationorder</th>
                         <th>frequency</th>
                         <th>snr</th>
                         <th>driftrate</th>
                         <th>uncorrectedfrequency</th>
                       </tr>
                     </thead>
                     <tbody>
                       {% for val in output %}
                       <tr>
                         <td>{{val.observationgroup}}</td>
                         <td>{{val.observationorder}}</td>
                         <td>{{val.frequency}}</td>
                         <td>{{val.SNR}}</td>
                         <td>{{val.driftrate}}</td>
                         <td>{{val.uncorrectedfrequency}}</td>
                       </tr>
                       {% endfor %}
                     </tbody>
                   </table>
               </div>
       </div>
     </div>
   </div>
{% endblock %}
